<!DOCTYPE html>
<html>
  <head>
    <title><%= fill_page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- ヘッダー -->
    <% if tutor_signed_in? || student_signed_in? %>
      <%= render partial: 'partial/header' %>
    <% end %>

    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <!-- メイン -->
    <%= yield %>
  </body>
</html>
